<!DOCTYPE html  [
    <!ENTITY nbsp "&#160;"> 
]>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions"
	style="overflow: hidden; height: 100%;">

<f:view locale="#{facesContext.externalContext.requestLocale}" transient="true">

	<h:head>
		<f:facet name="first">
			<title>CommonsUi View Expiration Page</title>
			<!-- First -->
		</f:facet>
		<link rel="shortcut icon" href="#{request.contextPath}/favicon.ico" type="image/x-icon" />
	</h:head>

	<h:body>

		<f:facet name="last">
		</f:facet>
		
		<h:panelGroup layout="block" style="width:500px;margin-left:auto;margin-right:auto;">
			<h:outputText value="View Expired"/>
		</h:panelGroup>
	</h:body>
</f:view>
</html>