<!DOCTYPE html  [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
<f:view locale="#{facesContext.externalContext.requestLocale}">

<h3>Default Index Page - Overwrite this in your Web Project</h3>

</f:view>
</html>