<!DOCTYPE html  [
    <!ENTITY nbsp "&#160;"> 
]>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	style="overflow: hidden; height: 100%;">

<f:view locale="#{facesContext.externalContext.requestLocale}"
	transient="true">

	<h:head>

		<f:facet name="first">
			<title>#{msg['ErrorPageTitle']}</title>
			<!-- First -->
		</f:facet>

		<link rel="shortcut icon" href="#{request.contextPath}/favicon.ico"
			type="image/x-icon" />
	</h:head>

	<h:body>

		<f:facet name="last">
			<!-- Last -->
		</f:facet>

		<h:panelGroup layout="block"
			style="width:500px;margin-left:auto;margin-right:auto;">
			<p:panel style="border-width: 2px;">
				<p:panelGrid columns="1" style="border-collapse: initial; ">
					<h3>#{msg['RecoverableErrorOccured']}</h3>
					<h:outputText style="text-align:center"
						value="#{sessionsBean.lastErrMsg}"
						rendered="#{sessionsBean.lastErrMsg ne null}" />
				</p:panelGrid>
			</p:panel>
			<h:form style="margin-top:20px">
				<!-- a link to go back to the index page while leaving the current http session active -->
				<p:commandLink action="#{sessionsBean.actionBackToIndexPage(false)}"
					value="#{msg['GotoIndexPage']}" />
			</h:form>
		</h:panelGroup>



		<h:panelGroup rendered="#{facesContext.isProjectStage('Development')}">
			<ul>
				<li>Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}</li>
				<li>User agent: #{header['user-agent']}</li>
				<li>User IP: #{request.remoteAddr}</li>
				<li>Ajax request: #{facesContext.partialViewContext.ajaxRequest
					? 'Yes' : 'No'}</li>
				<li>Request URI:
					#{requestScope['javax.servlet.error.request_uri']}</li>
				<li>Status code:
					#{requestScope['javax.servlet.error.status_code']}</li>
				<li>Exception type:
					#{requestScope['javax.servlet.error.exception_type']}</li>
				<li>Exception message:
					#{requestScope['javax.servlet.error.message']}</li>
				<li>Stack trace: <pre>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</pre>
				</li>
			</ul>
		</h:panelGroup>
	</h:body>

</f:view>

</html>