<html xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions">
    <body>
        <ui:composition id="body_mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="mainComposition_center" name="center">
                <h3 id="center_pageHeading">#{msg['gatewayAppControlScreenHeading']}</h3>
                <h:form id="center_mainForm">
                    <!-- PanelGrid for ui structural container 'GatewayAppControlScreen' -->
                    <p:panelGrid id="mainForm_gatewayAppControlScreen" layout="grid" columns="1">
                        <!-- PanelGrid for ui data container 'GatewayAppControlForm' -->
                        <p:panelGrid id="gatewayAppControlScreen_gatewayAppControlFormPanelGrid" layout="grid" columns="2"
                            styleClass="vd-panel-grid-for-data-container">
                            <!-- form element for ui component 'dataProvisioningHost' -->
                            <p:outputLabel id="gatewayAppControlFormPanelGrid_dataProvisioningHostLabel" for="gatewayAppControlFormPanelGrid_dataProvisioningHost" value="#{gatewayAppControlScreenBean.getMsg('dataProvisioningHostLabel')}"
                                title="#{gatewayAppControlScreenBean.getMsg('dataProvisioningHostLabelTitle', true)}"/>
                            <p:inputText id="gatewayAppControlFormPanelGrid_dataProvisioningHost" value="#{gatewayAppControlScreenBean.dto.gatewayAppControlForm.dataProvisioningHost}"/>
                            <!-- form element for ui component 'dataProvisioningContextRoot' -->
                            <p:outputLabel id="gatewayAppControlFormPanelGrid_dataProvisioningContextRootLabel" for="gatewayAppControlFormPanelGrid_dataProvisioningContextRoot" value="#{gatewayAppControlScreenBean.getMsg('dataProvisioningContextRootLabel')}"
                                title="#{gatewayAppControlScreenBean.getMsg('dataProvisioningContextRootLabelTitle', true)}"/>
                            <p:inputText id="gatewayAppControlFormPanelGrid_dataProvisioningContextRoot" value="#{gatewayAppControlScreenBean.dto.gatewayAppControlForm.dataProvisioningContextRoot}"/>
                            <!-- form element for ui component 'dataProvisioningApplicationPath' -->
                            <p:outputLabel id="gatewayAppControlFormPanelGrid_dataProvisioningApplicationPathLabel" for="gatewayAppControlFormPanelGrid_dataProvisioningApplicationPath" value="#{gatewayAppControlScreenBean.getMsg('dataProvisioningApplicationPathLabel')}"
                                title="#{gatewayAppControlScreenBean.getMsg('dataProvisioningApplicationPathLabelTitle', true)}"/>
                            <p:inputText id="gatewayAppControlFormPanelGrid_dataProvisioningApplicationPath" value="#{gatewayAppControlScreenBean.dto.gatewayAppControlForm.dataProvisioningApplicationPath}"/>
                            <!-- form element for ui component 'mqttBrokerHostnameOrIp' -->
                            <p:outputLabel id="gatewayAppControlFormPanelGrid_mqttBrokerHostnameOrIpLabel" for="gatewayAppControlFormPanelGrid_mqttBrokerHostnameOrIp" value="#{gatewayAppControlScreenBean.getMsg('mqttBrokerHostnameOrIpLabel')}"
                                title="#{gatewayAppControlScreenBean.getMsg('mqttBrokerHostnameOrIpLabelTitle', true)}"/>
                            <p:inputText id="gatewayAppControlFormPanelGrid_mqttBrokerHostnameOrIp" value="#{gatewayAppControlScreenBean.dto.gatewayAppControlForm.mqttBrokerHostnameOrIp}"/>
                            <!-- form element for ui component 'mqttBrokerPort' -->
                            <p:outputLabel id="gatewayAppControlFormPanelGrid_mqttBrokerPortLabel" for="gatewayAppControlFormPanelGrid_mqttBrokerPort" value="#{gatewayAppControlScreenBean.getMsg('mqttBrokerPortLabel')}"
                                title="#{gatewayAppControlScreenBean.getMsg('mqttBrokerPortLabelTitle', true)}"/>
                            <p:inputText id="gatewayAppControlFormPanelGrid_mqttBrokerPort" value="#{gatewayAppControlScreenBean.dto.gatewayAppControlForm.mqttBrokerPort}"/>
                        </p:panelGrid>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>